<div class="welcome-page">
  <h1>Welcome to Online Store</h1>
  <p>
    <%= link_to "Buy Products", categories_path,class:'btn btn-primary btn-lg' %>
    <%= link_to "Sell Products", new_product_path,class:'btn btn-primary btn-lg' %>
  </p>
</div>