/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-page, .signup-page, .new-product {
  display: flex;
  flex: 12;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.new-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}


.show-product-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.show-user-product {
  display: flex;
  flex: 6;
  justify-content: center;
}

.show-user-product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}



.navbar {
  font-size: 18px;
  padding-left: 50%;
  flex: 1;
}

.welcome-page {
  display: flex;
  flex: 12;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.category-container {
  display: flex;
  flex: 12;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-page {
  display: flex;
  flex: 12;
  justify-content: space-evenly;
}

.list-group {
  margin-top: 5px;
  width: 400px;
}

.edit-account-page {
  flex: 12;
  align-items: center;
  padding: 20px;
}

.card {
  margin: 10px;
  height: 80vh;
  width: 25%;
}

.card-img-top {
  height: 60%;
}

.card-body {
    background: rgba(197, 192, 192, 0.589);
}

.success-page {
  flex: 12;
  padding: 20px;
}