/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  
  background-position: center;
  background-size: cover;
  
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-nav-bar {
  flex: 1;
  display: flex;
  background: #6386e7;
}

.nav-bar-notice {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-options {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.welcome-page, .login-page, .signup-page, .new-product {
  display: flex;
  flex: 6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.category-container {
  display: flex;
  flex: 6;
}

.left-section-category {
  font-size: 15px;
  flex: 1.1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.right-section-category {
  flex: 4;
  display: flex;
 
}

.category-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  
  padding: 5px;
}

.category-list-image {
  
  margin-bottom: 5px;
  
}

.new-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.show-product {
  display: flex;
  flex: 6;
  height: 100%;
}

.show-product-image {
  flex: 1;
  height: 100%;
}

.show-product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-product-comments {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.show-user-product {
  display: flex;
  flex: 6;
  flex-wrap: wrap;
}

.show-user-product-card {
  width: 33.3333%;
  display: flex;
}




