<div class="show-user-product">
<% @products.each do |product| %>
  <div class="show-user-product-card">
  <%= product.name %>
  <%= image_tag(product.picture,size:'200x200') if product.picture.attached? %>
  <% end %>
  </div>
</div>